<button (click)="ok()">Validar</button><br><br>

<div class="container" style="width: 75%;  max-width: 600px; margin: 30px auto;">
  <zxing-scanner (scanSuccess)="scanSuccessHandler($event)" [formats]="allowedFormats"></zxing-scanner>
  <div *ngFor="let result of results">
    <p>{{ result }}</p>
  </div>
</div>

<ng-container *ngIf="pessoa">
  <p>Data: {{chave.mes}}/{{chave.ano}} </p>
  <p *ngIf="show">CNPJ: {{chave.cnpj|cnpj}}</p>
  <p>Cidade: {{ pessoa.municipio }} - {{ pessoa.uf }}</p>
  <p>Nome: {{pessoa.nome}}</p>

  <p>Endereço: {{ pessoa.logradouro }} - {{ pessoa.numero }} - {{ pessoa.bairro }}</p>

</ng-container>